{% block paginator %}
<div class="col-md-6 pagination mx-auto">
					{% if terms %}
						{% if product.has_other_pages %}
							<hr>
							<ul class="pagination">
							{% if product.has_previous %}
							  <li><a href="?search={{ terms }}&page={{ product.previous_page_number }}">&laquo;</a></li>
							{% else %}
							  <li class="disabled"><span>&laquo;</span></li>
							{% endif %}
							{% for i in product.paginator.page_range %}
							  {% if product.number == i %}
								<li class="active"><span>{{ i }}</span></li>
							  {% else %}
								<li><a href="?search={{ terms }}&page={{ i }}">{{ i }}</a></li>
							  {% endif %}
							{% endfor %}
							{% if product.has_next %}
							  <li><a href="?search={{ terms }}&page={{ product.next_page_number }}">&raquo;</a></li>
							{% else %}
							  <li class="disabled"><span>&raquo;</span></li>
							{% endif %}
						  </ul>
						{% endif %}

					{% elif getParam %}

						{% if product.has_other_pages %}
							<hr>
							<ul class="pagination">
							{% if product.has_previous %}
							  <li><a href="?{{ getParam }}&page={{ product.previous_page_number }}">&laquo;</a></li>
							{% else %}
							  <li class="disabled"><span>&laquo;</span></li>
							{% endif %}
							{% for i in product.paginator.page_range %}
							  {% if product.number == i %}
								<li class="active"><span>{{ i }}</span></li>
							  {% else %}
								<li><a href="?{{ getParam }}&page={{ i }}">{{ i }}</a></li>
							  {% endif %}
							{% endfor %}
							{% if product.has_next %}
							  <li><a href="?{{ getParam }}&page={{ product.next_page_number }}">&raquo;</a></li>
							{% else %}
							  <li class="disabled"><span>&raquo;</span></li>
							{% endif %}
						  </ul>
						{% endif %}

					{% else %}

						{% if product.has_other_pages %}
							<hr>
							<ul class="pagination">
							{% if product.has_previous %}
							  <li><a href="?page={{ product.previous_page_number }}">&laquo;</a></li>
							{% else %}
							  <li class="disabled"><span>&laquo;</span></li>
							{% endif %}
							{% for i in product.paginator.page_range %}
							  {% if product.number == i %}
								<li class="active"><span>{{ i }}</span></li>
							  {% else %}
								<li><a href="?page={{ i }}">{{ i }}</a></li>
							  {% endif %}
							{% endfor %}
							{% if product.has_next %}
							  <li><a href="?page={{ product.next_page_number }}">&raquo;</a></li>
							{% else %}
							  <li class="disabled"><span>&raquo;</span></li>
							{% endif %}
						  </ul>
						{% endif %}
					{% endif %}
				</div>
{% endblock %}