{% extends "base.html" %}
{% load static %}
{% load shop_extras %}
{% block content %}
<!-- Hero Section Begin -->
    <section class="hero-section">
        <div class="hero-items owl-carousel">
            {% for item in indexPub %}
            <div class="single-hero-items set-bg" data-setbg="{{ item.product.image.url }}">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5">
                            <span>{{ item.product.category.name }}</span>
                            <h1>{{ item.product.name }}</h1>
                            <p style="color:#39b3d7;">{{ item.product.description|truncatechars:20 }}</p>
                            <a href="{% url 'ViewProduct' item.product.id %}" class="primary-btn">Voir plus</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
    <!-- Hero Section End -->
<section style="margin-top:25px;">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 ">
                    <div class="left-sidebar">
						{% include 'layouts/category.html' %}

						<div class="price-range3"><!--price-range-->
							<h2>Échelle de prix</h2>
							<div class="well">
								<form name="contact-form" method="get" action="{% url 'shopPriceRange' %}">
									<div class="displayFlex form-group">
										{{ form.as_p }}
										<p><button type="submit" class="btn btn-primary"> <i class="fa fa-search"></i></button></p>
									</div>
								</form>

							</div>
						</div><!--/price-range-->

						<div class="price-range2"><!--find-by-->
							<h2>Trier par</h2>
                                <ul class="list-group">
                                    <li>
										<button type="button" class="btn btn-primary btn-block" onclick="location.href='{% url 'shopSorted' 'star' %}'">
										<i class="fa fa-star shortByPadding"></i>Pertinence</button>
									</li>
                                    <li>
										<button type="button" class="btn btn-primary btn-block" onclick="location.href='{% url 'shopSorted' 'date' %}'">
											<i class="fa fa-clock-o shortByPadding"></i>Dates</button>
									</li>
                                    <li>
										<button type="button" class="btn btn-primary btn-block" onclick="location.href='{% url 'shopSorted' 'priceDESC' %}'">
											<i class="fa fa-caret-square-o-up shortByPadding"></i>Prix décroisant</button>
									</li>
                                    <li>
										<button type="button" class="btn btn-primary btn-block" onclick="location.href='{% url 'shopSorted' 'priceASC' %}'">
											<i class="fa fa-caret-square-o-down shortByPadding"></i>Prix croisant</button>
									</li>
                                </ul>
						</div><!--/find-by-->
					</div>

                </div>
				<div class="col-lg-8 offset-lg-1">
					<h2 class="text-center" style="color:#39b3d7;margin-top:15px;margin-bottom:10px;">Nouveaux Articles</h2>
                    <div class="product-list">
                        <div class="row">
							{% for prod in product %}
                            <div class="col-lg-6 col-sm-6">
                                <div class="product-item">
                                    <div class="pi-pic">
                                        <img src="{{ prod.image.url }}" alt="">
                                        <div class="sale pp-sale">Nouveau</div>
                                        <ul>
                                            <li class="quick-view"><a href="{% url 'ViewProduct' prod.id %}">+ Voir l'offre</a></li>
                                        </ul>
                                    </div>
                                    <div class="pi-text">
                                        <a href="{% url 'ViewProduct' prod.id %}">
                                            <h5>{{ prod.name }}</h5>
                                        </a>
                                        <div class="product-price">
                                            ${{ prod.price }}
                                            <span>${% randomPrice prod.price %}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
							{% endfor %}

                        </div>
                    </div>
					{% include 'layouts/paginator.html' %}
                </div>
			</div>
		</div>
	</section>
{% endblock %}


